[user]
	email = karolis.lesevicius@gasefi.com
	name = Karolis Lesevicius
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	lg = log --graph --decorate --oneline
[core]
	editor = vim
