# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on OS X and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * https://atom.io/docs/latest/hacking-atom-debugging#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson
'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-shift-tab ^ctrl': 'unset!'

# enable copying with ctrl+c in vim mode
'atom-text-editor.vim-mode-plus':
  'ctrl-c': 'core:copy'

# enable ctrl f search on ubuntu
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-f': 'find-and-replace:show'

# ctrl-w close vim-mode waiting for ctrl-w <key> before closing
'atom-text-editor.vim-mode:not(.insert-mode)':
  'ctrl-w left': 'unset!' #'window:focus-pane-on-left'
  'ctrl-w right': 'unset!' #'window:focus-pane-on-right'
  'ctrl-w up': 'unset!' #'window:focus-pane-on-up'
  'ctrl-w down': 'unset!' #'window:focus-pane-on-down'
  'ctrl-w h': 'unset!' #'window:focus-pane-on-left'
  'ctrl-w l': 'unset!' #'window:focus-pane-on-right'
  'ctrl-w k': 'unset!' #'window:focus-pane-on-up'
  'ctrl-w j': 'unset!' #'window:focus-pane-on-down'
  'ctrl-w w': 'unset!' #window:focus-next-pane
  'ctrl-w p': 'unset!' #window:focus-previous-pane
  'ctrl-w v': 'unset!' #pane:split-right
  'ctrl-w s': 'unset!' #pane:split-down
  'ctrl-w c': 'unset!' #pane:close
  'ctrl-w q': 'unset!' #pane:close
  'ctrl-w z': 'unset!' #pane:close
  'ctrl-w =': 'unset!' #pane:close
  'ctrl-w ctrl-h': 'unset!' #'window:focus-pane-on-left'
  'ctrl-w ctrl-l': 'unset!' #'window:focus-pane-on-right'
  'ctrl-w ctrl-k': 'unset!' #'window:focus-pane-on-up'
  'ctrl-w ctrl-j': 'unset!' #'window:focus-pane-on-down'
  'ctrl-w ctrl-w': 'unset!' #window:focus-next-pane
  'ctrl-w ctrl-p': 'unset!' #window:focus-previous-pane
  'ctrl-w ctrl-v': 'unset!' #pane:split-right
  'ctrl-w ctrl-s': 'unset!' #pane:split-down
  'ctrl-w ctrl-c': 'unset!' #pane:close
  'ctrl-w ctrl-q': 'unset!' #pane:close
